<div class="profile">
  <h1 id="aboutme">About Me</h1>

  <div class="title">Hello, I'm Ana Wagner ... </div>

  <img src="assets/images/selfie.png" />

  <article>
    <p> I am a stay at home parent in Wichita, KS who is skilled in software
      engineering.  I enjoy logic and solving puzzles. My interests drove me to
      study Philosophy, Mathematics, and Computer Science in college. I also
      have worked in quality assurance in the technology industry.  I am
      motivated by my desire to have meaningful work in providing solutions
      through structured, modular, and maintainable computer programs. </p>

    <p> I strongly believe in lifelong self driven education. Web Development
      is appealing to me because I can use my computer science and programming
      skills and continue to learn and update my knowledge in newer
      technologies. </p>
  </article>

  <ul>
    <li><a href="https://twitter.com/anawagner1138" target="_blank">
        <i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/anawagner/" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/anawagner" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i></a></li>
  </ul>
</div> <!-- profile -->
