<div class="portfolio">
  <h1 id="portfolio">Portfolio</h1>
  <ul class="cards">
    <li>
      <h2>Responsive Web Design with CSS and HTML</h2>
      <div class="inner">
        <p>I first learned CSS before the days of flexbox, grid layout,
            and responsive web design. After a long break from doing any work
            with CSS, I've updated my CSS knowledge through
            <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">
              these MDN tutorials</a>. I find MDN to be a great resource.</p>
            <p>Here aresome examples of work in CSS:
                <a href="/examples-of-CSS/box/">a box</a>
                <a href="/examples-of-CSS/business_card/">a business card</a>
                <a href="/examples-of-CSS/layout/">a grid/flex layout</a>
                <a href="/examples-of-CSS/responsive.html">a responsive layout</a>
                <a href="/examples-of-CSS/typesetting/">using web fonts</a>
               (<a href="https://github.com/anawagner/examples-of-CSS">view code</a>)</p>

        <p>Another example of work I can do in CSS is this portfolio page:
          <a href="https://github.com/anawagner/anawagner.github.io">view code</a></p>

      </div>
    </li>

  </ul>
</div> <!-- portfolio -->
