html {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  height: 100%;
}

body {
  background-color: #fff;
  color: #5d6e73;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

h1, h2 {
  color: #269ccc;
}

a {
  color: #9ed2c5;
}
a:hover {
  color: #269ccc;
  text-decoration: none;
}
a:active {
  color: green;
}

/* NAVIGATION mobile first */
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  padding: 0;
  background-color: #5d6e73;
  color: #269ccc;
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold;
}
nav a:hover {
  background-color: #9ed2c5;
}

/* NAVIGATION for wider screens */
@media screen and (min-width: 600px) {
  nav {
    background-color: #5d6e73;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav a {
    width: 200px;
    border-bottom: 0px solid black;
  }
}

/* PROFILE section */
.profile {
  padding: 20px;
}

.profile h1 {
  margin: 0;
}

.profile .title {
  color: #9ed2c5;
  font-size: 1.3em;
  font-weight: bold;
}

.profile img {
  filter: grayscale(80%);
  border-radius: 50%;
  margin: 20px;
  width: 150px;
  height: 177px;
  float: left;
  shape-outside: circle();
}

.profile article {
  padding-top: 20px;
}

.profile ul {
  padding: 0px;
  margin: 0px;
  display: block;
}

.profile li {
  list-style-type: none;
  display: inline-block;
}

.profile a {
  text-decoration: none;
  color: #269ccc;
  font-size: 1.6em;
}

.profile a:hover {
  color: #9ed2c5;
}

.profile a:active {
  color: green;
}

/* PORTFOLIO SECTION */
.portfolio {
  padding: 0 20px 0 20px;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cards li {
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.cards h2 {
  background: linear-gradient(90deg, #269ccc 0%, #9ed2c5 100%);
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

/* UPDATES section */
.updates {
  padding: 0 10px 10px 0;
  margin-left: 20px;
}

.index ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.excerpt {
  background-color: white;
  padding-left: 15px;
}

/* FOOTER */
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  background-color: #5d6e73;
  padding: 10px;
  margin: 0;
}

.footer p {
  height: 2em;
  line-height: 2em;
  font-size: 0.8em;
  color: white;
}

/* GRID LAYOUT FOR LARGER SCREENS */
@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr minmax(260px, 1fr);
    grid-auto-rows: max-content auto;
    grid-gap: 5px;
  }
  .profile {
    grid-column: 1/4;
    grid-row: 1;
  }
  .sidebar {
    grid-column: 4;
    grid-row: 1/3;
  }
  .portfolio {
    grid-column: 1/4;
    grid-row: 2;
  }
}


/* FOR POSTS PAGES */
.post {
  padding: 20px;
}
